@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast {
    font-family: 'Inter', sans-serif;
  }

  
.sticky-navbar {
    z-index: 50; /* Or a value lower than the dialog's z-index */
  }
  
  .dialog-panel {
    z-index: 60; /* Higher than the sticky navbar */
  }
  